<div class="container">
  <div class="header">
  <a routerLink="/inicio"><img src="assets/FiveBurguer_logo.png" alt="FiveBurguer_logo" /></a>
  </div>
  <div class="opcoes">
    <p>HAMBURGUERES</p>
    <p>ACOMPANHAMENTOS</p>
    <p>BEBIDAS</p>
  </div>
  <h2>HAMBURGUERES</h2>
  <div class="hamburgueres">
    <div class="card">
      <img src="assets/rodeio.png" alt="Hamburguer Rodeio" />
      <h1>Rodeio</h1>
      <p>
        Sanduíche de carne com queijo cheddar, alface, tomate, bacon crocante e
        molho barbecue.
      </p>
      <span>R$ 20,00</span>
    </div>

    <div class="card">
      <img src="assets/incrivelhulk.png" alt="Hamburguer Incrivel Hulk" />
      <h1>Incrível Hulk</h1>
      <p>Hambúrguer de carne com guaca mole, jalapeño e queijo cheddar.</p>
      <span>R$ 20,00</span>
    </div>

    <div class="card">
      <img src="assets/cheeseburguer.png" alt="Hamburguer CheeseBurguer" />
      <h1>Cheese Burguer</h1>
      <p>
        Hambúrguer de carne, queijo cheddar, cebola, mostarda e pão brioche.
      </p>
      <span>R$ 20,00</span>
    </div>

    <div class="card">
      <img src="assets/fiveburguer.png" alt="Hamburguer FiveBurguer" />
      <h1>Five Burguer</h1>
      <p>
        Dois hambúrgueres de picanha, tomate, alface, molho da casa, queijo
        cheddar, cebola e bacon
      </p>
      <span>R$ 20,00</span>
    </div>

    <div class="card">
      <img src="assets/picante.png" alt="Hamburguer Picante" />
      <h1>Picante</h1>
      <p>
        Hambúrguer de frango com molho de pimenta, queijo, bacon, cebola e
        alface.
      </p>
      <span>R$ 20,00</span>
    </div>

    <div class="card">
      <img src="assets/italiano.png" alt="Hamburguer Italiano" />
      <h1>Italiano</h1>
      <p>Ciabatta com presunto parma, muçarela de búfala,tomate seco.</p>
      <span>R$ 20,00</span>
    </div>
  </div>
  <h2>Acompanhamentos</h2>
  <div class="porções">
    <div class="card">
      <img src="assets/batata.png" alt="Batata Frita" />
      <h1>Fritas do Chefe</h1>
      <p>Batatas fritas artesanais com tempero especial do chefe.</p>
    </div>
    <div class="card">
      <img src="assets/onion.png" alt="Onion Rings" />
      <h1>Onion Rings</h1>
      <p>Anéis de cebola empanados e fritos com molho da casa.</p>
    </div>
    <div class="card">
      <img src="assets/tulipa.png" alt="Tulipa" />
      <h1>Asas de Frango</h1>
      <p>Asas de frango empanadas e fritas com molho picante ou barbecue.</p>
    </div>
  </div>
  <h2>BEBIDAS</h2>
  <div class="bebidas">
    <div class="card">
      <img src="assets/coca.png" alt="Coca-Cola" />
      <h1>Coca-Cola</h1>
      <p>Acompanhado de gelo e rodelas de limão.</p>
    </div>
    <div class="card">
      <img src="assets/sucola.png" alt="Suco de Laranja" />
      <h1>Suco de Laranja</h1>
      <p>Sabor de laranja, acompanhado de gelo.</p>
    </div>
    <div class="card">
      <img src="assets/drink.png" alt="Drink da casa" />
      <h1>Drink da Casa</h1>
      <p>
        Bebida alcoólica feita com vodka, schnapps de pêssego, suco de laranja,
        e suco de oxicoco.
      </p>
    </div>
  </div>
</div>
