body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #0c0c14;
}

.container {
  display: flex;
}

.sidebar {
  padding: 50px 20px;
  width: 300px;
  background-color: #13131d;
  height: 100vh;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 25px 0;
  border-bottom: 1px solid #333;
}

.sidebar ul li:hover {
  background-color: #1e1e2e;
}

.sidebar ul li:last-child {
  border-bottom: none;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.content {
  flex: 1;
  padding: 20px;
}

.card {
  width: 400px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card-body {
  text-align: center;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #131c26;
}

.card-text {
  font-size: 14px;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
}

.btn:hover {
  background-color: #0056b3;
}

.pedidos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 30px;
}

.card-text-red {
  color: red;
  font-size: 50px;
  font-weight: bold;
  margin: 30px 0;
}
