.container {
  background-color: #000;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  justify-items: center;}
.container img {
  width: 150px;
  height: 150px;
}

.borda {
  margin-top: 50px;
  width: 750px;
  height: 750px;
  border: solid 1px #000;
  background-color: rgb(255, 67, 67) ;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 20px;
  box-shadow: 0 0 20px 2px rgb(232, 122, 122);
}

.card {
  width: 130px;
  height: 130px;
  border: solid 2px  rgb(255, 67, 67);
  border-radius: 180px;
}
