@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
.container {
  background-color: black;
  width: 100%;
  height: 100vh;
}

.header > img {
  width: 100px;
}

.header {
  display: grid;
  grid-template-columns: 600px 1fr 1fr 1fr ;
  box-shadow: 1px 1px 10px rgb(255, 255, 255);
  align-items: center;
}

.header a {
  color: #CF5903;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  margin: 0 11px;
}

.burguer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  height: 500px;
  justify-items: center;
  align-items: center;
}

.burguer > div > img {
  width: 400px;
}

.burguer p {
  color: #fff;
  text-align: center;
}

.burguer > p:nth-child(1) {
  width: 200px;
}
.burguer > p:nth-child(2) {
  width: 100px;
}

.sobre {
  display: grid;
  grid-template-columns: 500px 500px 1fr;
  padding: 35px 350px;
  gap: 100px;
}

.sobre > p {
  color: #fff;
  text-align: justify;
}

#slider {
	overflow: hidden;
  border-radius: 50%;
  box-shadow: 1px 1px 10px rgb(255, 255, 255);
  width: 95%;
  height: 95%;
}

@keyframes slider {
	0% { left: 0; }
	30% { left: 0; }
	33% { left: -100%; }
	63% { left: -100%; }
	66% { left: -200%; }
	95% { left: -200%; }
	100% { left: 0; }
}
#slider figure {
	width:300%;
	position: relative;
	animation: 9s slider infinite;
}

#slider figure:hover {
	/*animation-play-state: paused; enable for pause on hover*/
}
#slider figure img {
	width: 33.333333333%;
	height : 100%;
	float: left;
}

h1 {
  text-align: center;
  color: #CF5903;
  font-size: 22px;
}
.sobre img {
  display: grid;
  width: 75px;
}
