.container {
  background-color: #000;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  justify-items: center;
}
.container img {
  width: 150px;
  height: 150px;
}

.borda {
  margin-top: calc(100vh - 45%);
  width: 500px;
  height: 500px;
  border: solid 1px #000;
  background-color: #ffd95e;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 0 0 20px 2px #e6ba52;
}

.card {
  width: 100px;
  height: 100px;
  border: solid 2px rgb(255, 196, 0);
  border-radius: 180px;

}

