<div class="container">
    <h2>PAGAMENTO</h2>
    <div class="imagens">
        <div class="row">
            <div class="coluna">
                <img style="height: 127px; margin-top: 15%;" src="cartao.png" alt="">
            </div>
            <div class="coluna">
                <img style="height: 100; margin-top: 13%;" src="dinheiro3.png" alt="">
            </div>
            <div class="coluna">
                <img style="height: 127px; margin-left: 35%; margin-top: 17%;" src="app.png" alt="">
            </div>
        </div>
    </div>
    <div class="textos">
    <div class="row">
            <div class="coluna">
                <p style="margin-left: 57%;">Cartão</p>
            </div>
            <div class="coluna">
                <p>Dinheiro</p>
            </div>
            <div class="coluna">
                <p style="margin-right: 45%;">Pagar no APP</p>
            </div>
        </div>
    </div>
    <button type="submit">Continuar</button>
</div>
