<div class="container">
    <div class="square">
    <div class="img">
        <img src="assets/incrivelhulk.png" alt="Hamburguer">
    </div>
    <div class="ingredient">
        <h2>Guaca Mole</h2>
        <label for="Guaca mole">Quantidade:</label>
        <input type="number" id="Guaca mole" name="Guaca mole" min="0">
    
        <h2>Bacon</h2>
        <label for="bacon">Quantidade:</label>
        <input type="number" id="bacon" name="bacon" min="0">
  
   
        <h2>Tomate</h2>
        <label for="tomate">Quantidade:</label>
        <input type="number" id="tomate" name="tomate" min="0">
   
    
        <h2>Queijo</h2>
        <label for="queijo">Quantidade:</label>
        <input type="number" id="queijo" name="queijo" min="0">
    
        <h2>Jalapeno</h2>
        <label for="jalapeno">Quantidade:</label>
        <input type="number" id="jalapeno" name="jalapeno" min="0">
    </div>
  
    <h2>Observação:</h2>
    <input id="Observação" name="Observação" required><br>
    <button type="submit">CONFIRMAR</button>
</div>
</div>
