<div class="container">
  <div class="borda">
    <h1>CARDÁPIO!</h1>
    <div>
      <h1>Hamburgueres:</h1>
      01 - O Incrível Hulk (R$15,00). Hambúrguer de carne com graça mole,
      jalapeño e queijo cheddar. 02 - O Picante (R$13,50). Hambúrguer de frango
      com molho de pimenta e jalapeños em conserva. 03 - O Rodeio(R$17,00).
      Sanduíche de carne com queijo cheddar, cebolas fritas, bacon crocante e
      molho barbecue.04 - O Italiano (R$15,00).Ciabatta com presunto parma,
      muçarela de búfala, tomate seco e rúcula.05 - Cheeseburger
      (R$14,00).Hambúrguer de carne, queijo cheddar, cebola, picles, ketchup,
      mostarda e pão sem gergelim.06 - Lumberjack Burger (R$20,00).Dois
      hambúrgueres de picanha, tomate, alface, molho da casa, queijo cheddar,
      cebola e bacon crocante.
    </div>
    <div>
      <h1>Porcões:</h1>
      07 - Fritas do Chef (R$13,00).Batatas fritas artesanais com tempero
      especial do chefe.08 - Onion Rings (R$10,00).Anéis de cebola empanados e
      fritos com molho barbecue.09 - Asas de frango (R$15,00).Asas de frango
      empanadas e fritas com molho picante ou barbecue.
      <h1>Bebidas:</h1>
      10 - Coca-Cola 2L (R$8,00) Acompanhado de gelo e rodelas de limão.11 -
      Suco Natural 500mL (R$6,00).Sabores de laranja, abacaxi com hortelã e
      acerola.
    </div>
  </div>
</div>
