<div class="container">
  <div class="borda">
    <h1 class="titulo">CARDÁPIO!</h1>
    <div>
      <h1>Hamburgueres:</h1>
      <p>
        <b>01 - O Incrível Hulk (R$15,00).</b> Hambúrguer de carne com graça
        mole, jalapeño e queijo cheddar.
      </p>
      <p>
        <b>02 - O Picante (R$13,50).</b> Hambúrguer de frango com molho de
        pimenta e jalapeños em conserva.
      </p>
      <p>
        <b>03 - O Rodeio(R$17,00).</b> Sanduíche de carne com queijo cheddar,
        cebolas fritas, bacon crocante e molho barbecue.
      </p>
      <p>
        <b>04 - O Italiano (R$15,00).</b> Ciabatta com presunto parma, muçarela
        de búfala, tomate seco e rúcula.
      </p>
      <p>
        <b>05 - Cheeseburger (R$14,00).</b> Hambúrguer de carne, queijo cheddar,
        cebola, picles, ketchup, mostarda e pão sem gergelim.
      </p>
      <p>
        <b>06 - Lumberjack Burger (R$20,00).</b> Dois hambúrgueres de picanha,
        tomate, alface, molho da casa, queijo cheddar, cebola e bacon crocante.
      </p>
    </div>
    <div>
      <h1>Porcões:</h1>
      <p>
        <b>07 - Fritas do Chef (R$13,00).</b> Batatas fritas artesanais com
        tempero especial do chefe.
      </p>
      <p>
        <b>08 - Onion Rings (R$10,00).</b> Anéis de cebola empanados e fritos
        com molho barbecue.
      </p>
      <p>
        <b>09 - Asas de frango (R$15,00).</b> Asas de frango empanadas e fritas
        com molho picante ou barbecue.
      </p>
      <h1>Bebidas:</h1>
      <p>
        <b>10 - Coca-Cola 2L (R$8,00)</b>. Acompanhado de gelo e rodelas de
        limão.
      </p>
      <p>
        <b>11 - Suco Natural 500mL (R$6,00)</b>. Sabores de laranja, abacaxi com
        hortelã e acerola.
      </p>
    </div>
  </div>
</div>
