@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
.container {
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.header > img {
  width: 100px;
}

.header {
  display: grid;
  grid-template-columns: 600px 1fr 1fr 1fr;
  box-shadow: 1px 1px 10px rgb(255, 255, 255);
  align-items: center;
}

.header a {
  color: rgb(250, 105, 48);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  margin: 0 11px;
}




.burguer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  height: 500px;
  justify-items: center;
  align-items: center;
}

.burguer > div > img {
  width: 400px;
  border-radius: 50%;
  box-shadow: 0 0 20px 5px #ffffff7f;
  
}

.burguer p {
  color: #fff;
  text-align: center;
}

.burguer>p:nth-child(1){
  width: 200px;
}
.burguer>p:nth-child(2){
  width: 100px;
}

.sobre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 35px 350px;
  gap: 100px;
}

.sobre > p {
  color: #fff;
  text-align: justify;
}

h1 {
  text-align: center;
  color: tomato;
  font-size: 22px;
}