<div class="container">
    <div class="square">
        <h2>DADOS DO CARTÃO</h2>
        <img src="" alt="">
        <form action="">
            <label for="nome">Nome do Cartão:</label><br>
            <input type="text"><br>

            <label for="numero cartao">Número do Cartão:</label><br>
            <input type="text"><br>
            
            

            <label for="codigo segurança">Codigo de Segurança:</label><br>
            <input type="text"><br>

            <button type="submit">CONFIRMAR</button>

            
        </form>
    </div>
</div>