<div class="container">
  <div class="cadastro">
    <img src="assets/cadastro.png" alt="Cadastre-se" />
    <div class="login-page">
      <div class="form">
        <form class="register-form">
          <input type="text" placeholder="name" />
          <input type="password" placeholder="password" />
          <input type="text" placeholder="email address" />
          <button>create</button>
          <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form class="login-form">
          <input type="text" placeholder="username" />
          <input type="password" placeholder="password" />
          <button>login</button>
          <p class="message">
            Não é cadastrado? <a href="#">Criar uma conta</a>
          </p>
          <p class="message"><a href=""></a>Esqueceu senha?</p>
        </form>
      </div>
    </div>
  </div>
</div>
