.container {
  width: 100%;
  height: 100%;
  background-color: #001f60;
}
.cadastro {
  width: 450px;
  height: 800px;
  background-color: #7263a4;
  justify-items: center;
  align-items: center;
  border-radius: 50px;
}
