.container {
  height: 100vh;
  background-color: #001f60;
  display: grid;
  
  place-items: center;
}
.cadastro {
  width: 700px;
  height: 500px;

  background-color: #7263a4;
  padding: 20px;   
  border-radius: 18px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

}

img {
  text-align: center;
}

.form {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #fcd432;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  border-radius: 30px;
}

button:hover {
  background-color: #fcd432;
}
