<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form actions="#">
        <h1>Faça seu Cadastro:</h1>
            <div class="social-container">

                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fa fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>

            </div>

    <span>Use seu e-mail para Cadastro</span> 

        <input type="text" placeholder="Name"/>
        <input type="email" placeholder="E-mail" /> 
        <input type="password" placeholder="Password" />

            <button>Sign Up</button>

        </form>

    </div>
</div>


