* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: #ed2711ee;
  width: 100%;
  height: 100vh;
}
.header > img {
  height: 70px;
}
.opcoes{
  height: 40px;
  width: 100%;
  background-color: black;
  color: #fff;
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
}

h2 {
  color: #fff;
}
.hamburgueres {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 750px;
  margin: 0 auto;
}
.hamburguer {
  border-radius: 10px;
  background: linear-gradient(#FF3131, #FF914D);
  height: 300px;
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.hamburguer img {
  width: 100px;
  border-radius: 60px;
  box-shadow: 0 0 20px 5px #ffffff7f;
  background-size: cover;
  margin: 10px;
}
.hamburguer p {
  padding: 0 10px;
  font-size: 14px;
}
/* .hamburguer2 {
  border-radius: 10px;
  background-color: #001f60;
  height: 280px;
  width: 180px;
}
.hamburguer2 img {
  width: 100px;
  border-radius: 60px;
  box-shadow: 0 0 20px 5px #ffffff7f;
  right: 30%;
  background-size: cover;
}
.hamburguer3 {
  border-radius: 10px;
  background-color: #001f60;
  height: 280px;
  width: 180px;
}
.hamburguer3 img {
  width: 100px;
  border-radius: 60px;
  box-shadow: 0 0 20px 5px #ffffff7f;
  right: 30%;
  background-size: cover;
}
.hamburguer4 {
  border-radius: 10px;
  background-color: #001f60;
  height: 280px;
  width: 180px;
}
.hamburguer4 img {
  width: 100px;
  border-radius: 60px;
  box-shadow: 0 0 20px 5px #ffffff7f;
  right: 30%;
  background-size: cover;
}
.hamburguer5 {
  border-radius: 10px;
  background-color: #001f60;
  height: 280px;
  width: 180px;
}
.hamburguer5 img {
  width: 100px;
  border-radius: 60px;
  box-shadow: 0 0 20px 5px #ffffff7f;
  right: 30%;
  background-size: cover;
}
.hamburguer6 {
  border-radius: 10px;
  background-color: #001f60;
  height: 280px;
  width: 180px;
}
.hamburguer6 img {
  width: 100px;
  border-radius: 60px;
  box-shadow: 0 0 20px 5px #ffffff7f;
  right: 30%;
  background-size: cover;
} */

h1 {
  color: black;
  font-size: 18px;
  text-align: center;
}

.porções {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 750px;
  margin: 0 auto;
}

.porção {
  border-radius: 10px;
  background: linear-gradient(#FF3131, #FF914D);
  height: 300px;
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.porção img {
  width: 100px;
  border-radius: 60px;
  box-shadow: 0 0 20px 5px #ffffff7f;
  background-size: cover;
  margin: 10px;
}
.porção p {
  padding: 0 10px;
  font-size: 14px;
}
/* .porção2 {
  border-radius: 10px;
  background-color: #001f60;
  height: 280px;
  width: 180px;
}
.porção2 img {
  width: 100px;
  border-radius: 60px;
  box-shadow: 0 0 20px 5px #ffffff7f;
  right: 30%;
  background-size: cover;
}
.porção3 {
  border-radius: 10px;
  background-color: #001f60;
  height: 280px;
  width: 180px;
}
.porção3 img {
  width: 100px;
  border-radius: 60px;
  box-shadow: 0 0 20px 5px #ffffff7f;
  right: 30%;
  background-size: cover;
} */
.bebidas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 750px;
  margin: 0 auto;
}

.bebida {
  border-radius: 10px;
  background: linear-gradient(#FF3131, #FF914D);
  height: 300px;
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.bebida img {
  width: 100px;
  border-radius: 60px;
  box-shadow: 0 0 20px 5px #ffffff7f;
  background-size: cover;
  margin: 10px;
}
.bebida p {
  padding: 0 10px;
  font-size: 14px;
}
/* 
.bebida2 {
  border-radius: 10px;
  background-color: #001f60;
  height: 280px;
  width: 180px;
}
.bebida2 img {
  width: 100px;
  border-radius: 60px;
  box-shadow: 0 0 20px 5px #ffffff7f;
  right: 30%;
  background-size: cover;
}
.bebida3 {
  border-radius: 10px;
  background-color: #001f60;
  height: 280px;
  width: 180px;
}
.bebida3 img {
  width: 100px;
  border-radius: 60px;
  box-shadow: 0 0 20px 5px #ffffff7f;
  right: 30%;
  background-size: cover;
} */
