<div class="container">
  <div class="header">
    <img src="assets/logo.png" />
    <a routerLink="/cardapio">Cardápio</a>
    <a href="">Reservas de Mesas</a>
    <a routerLink="/cadastro">Cadastre-se</a>
  </div>

  <div class="content">
    <div class="burguer">
      <p>"Nós não apenas preparamos hambúrgueres, nós criamos memórias."</p>
      <div id="slider">
        <figure>
          <img src="assets/hamburguer.jpg" alt="">
          <img src="assets/hamburguer1.jpeg" alt="">
          <img src="assets/hamburguer2.jpeg" alt="">
        </figure>
      </div>
      <p>"A cada mordida, uma experiência única."</p>
    </div>

    <h1>Sobre Nós:</h1>
    <div class="sobre">
      <p>
        Bem-vindo à nossa hamburgueria, um lugar onde a comida deliciosa e o
        ambiente acolhedor se encontram para criar uma experiência única. Nossa
        história começou com cinco amigos que se uniram para criar algo
        especial. Cada um de nós trouxe habilidades e paixões únicas para o
        negócio, o que nos permitiu criar uma hamburgueria que se destaca das
        outras. Usando apenas ingredientes frescos e de alta qualidade, criamos
        uma seleção de hambúrgueres que são tão deliciosos quanto são criativos.
        De nosso clássico Cheeseburger a nosso Lumberjack Burger, cada item em
        nosso menu é criado com a mesma atenção aos detalhes. Mas não é apenas a
        comida que faz de nossa hamburgueria um lugar especial.
      </p>
      <p>
        Nosso ambiente acolhedor e amigável é o lugar perfeito para se reunir
        com amigos e familiares, relaxar e desfrutar de uma refeição deliciosa.
        Queremos que nossos clientes se sintam em casa em nossa hamburgueria. É
        por isso que nossa equipe é treinada para fornecer um atendimento
        excelente e atencioso. Nós nos esforçamos para criar uma comunidade em
        torno de nossa hamburgueria e estamos orgulhosos de ser um lugar onde as
        pessoas possam se reunir e desfrutar de boa comida e boa companhia. Nós
        convidamos você a visitar nossa hamburgueria e experimentar a diferença.
        Seja para um almoço rápido, um jantar com amigos ou para comemorar uma
        ocasião especial, estamos ansiosos para recebê-lo em nosso espaço
        acolhedor e delicioso.
      </p>
      <div class="links">
        <a routerLink="/jogo" title="Entretenimento"><img src="/assets/entretenimento.jpg"/></a>
        <a
          href="https://instagram.com/five_burguer?igshid=NTc4MTIwNjQ2YQ=="
          title="Instagram"
          ><img src="/assets/logoinsta.png"
        /></a>
      </div>
    </div>
  </div>
</div>
