@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
.container {
  background-color: black;
  width: 100%;
  height: 100vh;
}

.header > img {
  width: 100px;
}

.header {
  display: grid;
  grid-template-columns: 600px 1fr 1fr 1fr;
  box-shadow: 1px 1px 10px rgb(255, 255, 255);
  align-items: center;
}

.header a {
  color: rgb(250, 105, 48);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  margin: 0 11px;
}

.burguer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  height: 500px;
  justify-items: center;
  align-items: center;
}

.burguer > div > img {
  width: 400px;
}

.burguer p {
  color: #fff;
  text-align: center;
}

.burguer > p:nth-child(1) {
  width: 200px;
}
.burguer > p:nth-child(2) {
  width: 100px;
}

.sobre {
  display: grid;
  grid-template-columns: 500px 500px 1fr;
  padding: 35px 350px;
  gap: 100px;
}

.sobre > p {
  color: #fff;
  text-align: justify;
}

h1 {
  text-align: center;
  color: tomato;
  font-size: 22px;
}
.sobre img {
  display: grid;
  width: 75px;
}
.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}
.carrosel {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.carrosel img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 20px 5px #ffffff7f;
  object-fit: cover;
}

#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}
